
<div id="directors">
  <% index = 0 %>
  <%= f.fields_for :directors do |director| %>
    <% index = index + 1 %>
    <%= director.label "Director #{index}" %>
    <%= director.text_field :name %>
    <%= director.link_to_remove "remove" %>
  <% end %>
</div>
<p><%= f.link_to_add "more directors >>", :directors, :class => "directors" %></p>
