<p id="notice"><%= notice %></p>
  <h1><%= @company.name %> Minutes</h1>
  <div >
    <div class="panel-body">

      <table class="table table-striped table-condensed table-responsive">

        <tbody>
            <tr>
              <td><%= check_box_tag 'name' %> <b>XYZ</b></td>
              <td><%= label_tag 'MINUTES' %></td>
              <td><%= label_tag 'Apr 2, 2022' %></td>
              <td><%= link_to 'DOWNLOAD', '#', class: 'btn btn-default btn-xs' %></td>
            </tr>

            <tr>
              <td><%= check_box_tag 'name' %> <b>ZZK</b></td>
              <td><%= label_tag 'MINUTES' %></td>
              <td><%= label_tag 'MAR 17, 2022' %></td>
              <td><%= link_to 'DOWNLOAD', '#', class: 'btn btn-default btn-xs' %></td>
            </tr>

            <tr>
              <td><%= check_box_tag 'name' %> <b>ABC</b></td>
              <td><%= label_tag 'MINUTES' %></td>
              <td><%= label_tag 'FEB 7, 2022' %></td>
              <td><%= link_to 'DOWNLOAD', '#', class: 'btn btn-default btn-xs' %></td>
            </tr>

        </tbody>

      </table>
    </div>
  </div>

  <br>

  </div>
    <div class="panel-body">
      <%= link_to 'ZIP & SAVE', '#', class: "btn btn-success btn-sm" %>
    </div>
  </div>


    </div>
      <div class="panel-body">
        <%= link_to 'Back', companies_path, class: "btn btn-sm" %>
      </div>
    </div>
